### STS ###
.classpath
.factorypath
.project
.settings
target/

### VSCode ###
*.log
*.exe
*.msi
*.mp4
*.pyc
**/temp/
**/.vscode/

### Node ###
**/node_modules/
**/dist/
**/cache/
**/docs/package.json